<div class="cards_no_shadow" style="margin-top: 13vh;">
    <img src="<%= docente.image %>" class="image-responsive" onclick="location.href='/<%= docente.id_lattes %>';">
    <div class="card-content">
      <div style="z-index: 1;" >
        <img style="z-index: 1; position: relative;" class="favorito" onclick="document.getElementById('form_favoritar_<%= docente.id_lattes %>').submit(); console.log(src); let new_src = (src.includes('/images/icons/favoritar.png'))? '/images/icons/favoritado.png' : '/images/icons/favoritar.png'; $(this).attr('src', new_src )" src="/images/icons/<%= (docente.favoritado)? 'favoritado': 'favoritar' %>.png">
        <form id="form_favoritar_<%= docente.id_lattes %>" action="/aluno/favoritar/<%= docente.id_lattes %>" method="POST">
        </form>
      </div>
  
      <h3 onclick="location.href='/<%= docente.id_lattes %>';"> <%= docente.nome %></h3>
      <%if (docente.disponivel) {%>
        <%if (docente.disponivel_tcc) {%>
          <span class="dot" id="dot_disponivel"></span>
          <span id="disponivel_projetos">
              Disponível
          </span>
        <% } else {%>
          <span class="dot" id="dot_disponivel_projetos"></span>
          <span id="disponivel_projetos">
              Disponível apenas para projetos.
          </span>
          <%}%>
      <% } else {%>
        <span class="dot" id="dot_indisponivel"></span>
        <span id="disponivel_projetos">
            Indisponível.
        </span>
        <%}%>
        <br>
        <div>
  
          <% tag = docente.tags.split(',')[0].replace(" ", '<span style="visibility: hidden;">_</span>');%>
          <span class="tag"><%- tag %></span>
          <% tag = docente.tags.split(',')[1].replace(" ", '<span style="visibility: hidden;">_</span>');%>
          <span class="tag"><%- tag %></span><br>
        </div>
        <div>
  
          <% tag = docente.tags.split(',')[2].replace(" ", '<span style="visibility: hidden;">_</span>');%>
          <span class="tag"><%- tag %></span>
          <% tag = docente.tags.split(',')[3].replace(" ", '<span style="visibility: hidden;">_</span>');%>
          <span class="tag"><%- tag %></span>
        </div>
  
      <p onclick="location.href='/<%= docente.id_lattes %>';">
        <%= docente.apresentacao %>
      </p>
      </div>
</div>

  <div class="lista_tcc">
    <div class="subtitle">
      Apresentação
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        <%= apresentacao %>
      </p>
    </div>
  </div>

  <div class="lista_tcc">
    <div class="subtitle">
      Formação Acadêmica
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
          <% formacao.graduacao.forEach( grad => { %>
            <p>
              <%= grad %>
            </p>
          <% }) %>
      </p>
      <p>
          <%= formacao.mestrado %>
      </p>
      <p>
          <%= formacao.doutorado %>
      </p>
    </div>
  </div>

  <div class="lista_tcc">
    <div class="subtitle">
      Atuação Profissional
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        <%= profissional %>
      </p>
    </div>
  </div>          

  <div class="lista_tcc">
    <div class="subtitle">
      Publicações
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
          <% publicacoes.forEach(pub => { %>
            <p>
              <%= pub %>
            </p>
          <% })  %>
      </p>
    </div>
  </div>
  
  <div id="lista_tcc_lastchild" class="lista_tcc">
    <div class="subtitle">
      Projetos de Extensão
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
          <%= extensao %>
      </p> 
    </div>
  </div>
  <button  id="btn_enviar_msg" onclick="location.href='/api/solicitacao/<%= docente.id_lattes %>'">
      <img src="images/icons/enviar-mensagem.png">
  </button>
  <div id="pageNavOverlay"></div> 